@import-normalize;

@font-face {
  font-family: "GothamBold";
  src: url(./assets/fonts/GothamBold.ttf) format("truetype"), url(./assets/fonts/GothamBold.otf) format("opentype");
}

@font-face {
  font-family: "GothamBook";
  src: url(./assets/fonts/GothamBook.ttf) format("truetype"), url(./assets/fonts/GothamBook.otf) format("opentype");
}

@font-face {
  font-family: "GothamMedium";
  src: url(./assets/fonts/GothamMedium.ttf) format("truetype");
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "GothamBook";
  font-size: 14px;
  color: #73797f;
}

.core-column:first-of-type {
  margin-left: 0 !important;
}
